html {
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif;
}

a, button {
    transition: all .4s;
    &:hover, &:focus, &:active {
        outline: none;
        box-shadow: none;
        text-decoration: none;
    }
}

//Colors

$red: #c0392b;
$black: #2c3e50;
//buttons

.btn {
    text-transform: uppercase;
    font-size: 1.142rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.btn-primary {
        background-color: $red;
        color: #fff;
        border-color: $red;

        &:hover {
            background-color: #fff;
            color: $red;
        }
    }

    &.btn-secondary {
        background-color: #fff;
        color: $black;
        border-color: $black;

        &:hover {
            background-color: $black;
            color: #fff;
        }
    }
}

/* ----------------------LOGIN PAGE-----------------------------*/

#login {
    background-image: url('../img/login-bg.jpg');
    background-size: cover;
    
    h1 {
        font-size: 1.857rem;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .col-12 {
        background-color: rgba(255,255,255, .6);
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
    }

    .card {
        padding: 2em;
        width: 90%;
    }

    .card-header {
        background-color: #fff;
        margin-bottom: 20px;
    }
}

/*----------------------------Universal----------------------------*/

.top-bar {
    background-color: $black;
    color: #fff;
    padding: 15px 0;

    a {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: $red;
        border-radius: 50%;
        font-size: 1.571rem;
        transition: all .3s;

        &:hover {
            background-color: $black;
            color: $red;
            border: 1px solid $red;
        }
    }
}

.back-btn {
    color: $red;
    display: inline-block;
    margin: 1em 0;
    font-size: 2.142rem;
}

/*----------------------------Home Page----------------------------*/

#home {

    .items {
        padding: 2em;
    }

    .item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        border-radius: 5px;
        justify-content: center;
        padding: 2em 0;
        
        span, em {
            display: block;
            width: 100%;
        }

        span {
            i {
                font-size: 2.714rem;
            }
        }

        em {
            font-size: 1.857rem
        }

        &.sales, &.review {
            background-color: $black;
            color: #fff;
            border: 1px solid $black;

            &:hover {
                background-color: #fff;
                color: $black;
            }
        }

        &.recieve, &.log {
            background-color: $red;
            color: #fff;
            border: 1px solid $red;

            &:hover {
                background-color: #fff;
                color: $red;
            }
        }
    }
}